
$primary-color: #c4ddc8;
$primary-dark: #42874e;
$secondary-color: #a29bfe;
$success-color: #00b894;
$success-dark: #00a085;
$danger-color: #e84393;
$danger-dark: #d63384;
$warning-color: #fdcb6e;
$warning-dark: #e17055;
$info-color: #74b9ff;
$info-dark: #0984e3;
$light-color: #f8f9fa;
$dark-color: #2d3436;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: $primary-dark;
$secondary: $secondary-color;
$success: $success-color;
$danger: $danger-color;
$warning: $warning-color;
$info: $info-color;
$light: $light-color;
$dark: $dark-color;